.App body {
  background-image: url("./books.jpg");
  width: 100%;
  
}
.App {
  font-family: 'Montserrat', sans-serif;
  color: #403d51;
  max-width: 80%;
  margin: 0 auto; 
}

.App h1 {
  font-size: 45px;
  font-weight: 500;
}
.App a {
  text-decoration: none;
}
.App-header {
  margin: 30px 0;
}

.App-footer {
  text-align: center;
  margin: 30px 0;

}
