body {
  background: url("./books.jpg");
  width: 100%;
  background-size: cover;
}
.App {
  font-family: 'Montserrat', sans-serif;
  color: #403d51;
  max-width: 60%;
  margin: 0 auto; 
}

.App h1 {
  font-size: 48px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
}

.App-header {
  margin: 30px 0;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
  color: rgba(255, 255, 255, 0.9);
}
.App footer a {
  color:rgba(255, 255, 255, 0.9);
}
.App footer a:hover {
  color: coral;
}
@media (max-width: 576px) {
  .App {
    max-width: 80%;
  }
  .App-header {
    margin: 10px 0;
  }
  .App h1 {
    font-size: 36px;
  }
  .App-footer {
    margin: 0 auto;
  }
}
@media (max-width: 370px) {
  .App h1 {
    font-size: 26px;
  }
}
@media (min-height: 1300px) {
  .App h1 {
    margin-top: 100px;
    font-size: 52px;
  }
}
