.App body {
  background-color:
}
.App {
  font-family: 'Montserrat', sans-serif;
  color: #403d51;
  max-width: 80%;
  margin: 0 auto;
  

}
.App-header {
  margin: 30px 0;
}
.owl-image {
  max-width: 200px;
  display: block;
  margin: 0 auto;
  background-color: transparent;
}
.App-footer {
  text-align: center;
  margin: 30px 0;

}
