.Dictionary section {
    padding: 30px;
    background: rgba(255, 255, 255, 0.8);
    margin: 20px 0;
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.Dictionary input {
    width: 100%;
    padding: 6px 4px;
    border: 1px solid #403d51;
    border-radius: 6px;
}
.Dictionary input:focus {
    outline: none;
    
}
@media (max-width: 576px) {
    .Dictionary section {
        padding: 20px;
    }
}
@media (min-height: 1100px) {
    .Dictionary section {
        margin: 50px 0;
    }
    
}