.Meaning .definition {
    font-size: 20px;
}
.Meaning h3 {
    font-size: 24px;
    font-weight: bold;
}

.Meaning .example {
    font-size: 16px;
    opacity: 0.7;font-style: italic;
}
@media (max-width: 576px) {
    .Meaning h3 {
        font-size: 20px;
    }
  .Meaning hr {
    margin-top: 2px;
    margin-bottom: 5px;
  }  
}
