

.Phonetic i {
    border: 1px solid #403d51;
    padding: 10px;
    border-radius: 50px;
    transition: all 150ms ease-in-out;
    color: #403d51;
}

.Phonetic i:hover {
    background-color: white;
}
.Phonetic .text {
    margin-right: 10px;
    margin-left: 2px;
    opacity: 0.8;
    font-size: 18px;
}
@media (max-width: 576px) {
    .Phonetic i {
        padding: 3px;
        border: none;
    }
}
