.Synonyms {
padding: 0;
margin: 20px 0;
font-size: 16px;
font-style: italic;
}
.Synonyms ul {
    display: inline;
}
.Synonyms li {
    display: inline;
    padding-right: 10px;
}

@media (max-width: 576px) {
    .Synonyms {
        margin: 5px;
    }
}
